/*border and padding included in elements width and height
so doesn't change when add border/padding*/
* {
	box-sizing: border-box; 
}

/*step 1 of 3 to make sticky footer*/
html {
	position: relative;
	min-height: 100%;
}

/*margin 85 (height of footer) is step 2 of 3 to make sticky footer*/
body {
	background-image: url("../images/concrete.png");
	margin: 0 0 85px 0;
	color: #777777;
}

body, a, #button {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3, span {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

 p > a {
	color: #4aaaa5;
}

nav > a {
	color: #777777;
}

a:hover {
	color: #aa4a7d;
	font-weight: bold;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 25px;
	float: left;
	font-size: 32px;
	margin: 0 0 0 24px;
}

h2, h3 {
	color: #4aaaa5;
}

#top {
	background-color: #ffffff;
	overflow: auto;
	margin-bottom: 30px;
	border-bottom: solid #cccccc 2px;
}

/*vertically aligns main header and nav with rest of content*/
header {
	margin: 0 auto;
	width: 960px;
}

h2 {
	margin-left: 24px 24px 24px 0;
	font-size: 30px;
	display:block;/*********/
}

h3 {
	border-bottom: solid #cccccc 2px;
	padding: 0 0 20px 0;
	text-align: left;
	width: 175px;/*to shorten bottom border width*/
}

/*page navigation links*/
nav > a {
	padding: 2px;
	text-decoration: none;
}

#pages {
	background-color: #ffffff;
	float: right;
	padding-top: 35px;
}

/*puts divider line between page navigation links*/
#pages > a:not(:last-child) {
	border-right: solid 1px #777777;
}

/*puts space between page navigation links.*/
#pages > a {
	padding: 0 13px 0 7px;
}

#middle {
	overflow: auto;
	width: 100%;
	max-width: 960px;/*why media queries don't work unless this is set to max but others not max*/
	margin: 0 auto;
}

article, form, #portfolio {
	float: left;
	/*width: 100%;/**if make this one width 100% and/or max-width 650 768 stops working***/
	width: 650px;/****/
	background-color: #ffffff;
	margin: 0 20px 40px 20px;
	border: solid 1px #dddddd;
	overflow: auto;
	padding: 10px 30px 30px 30px;
}

.maincontent {
	border-top: solid #dddddd 3px;
	padding-top: 25px;
}

#formcontent {
	padding-top: 10px;
}

#maria {
	height: 200px;
	width: 200px;
	float: left;
	margin-right: 25px;
}

p {
	line-height: 2;
}

/*to remove the default inline-block display*/
label, input, textarea {
	display: block;
	width: 100%;
}

input {
	padding: 6px 0 6px 10px;
	line-height: 1.5;
	margin-top: 8px;
}

textarea {
	height: 200px;
	margin-top: 8px;
}

label, textarea {
	padding-top: 18px;
}

#button {
	background-color: #4aaaa5;
	height: 40px;
	width: 100px;
	color: #ffffff;
	font-size: medium;
	padding: 6px 0;
	margin-top: 15px;
}

#button:hover {
	background-color: #aa4a7d;
	color: #7daa4a;
}

/*active must come after hover to work*/
#button:active {
	background-image: url("../images/thanks.jpg");
	background-color: #ffffff;
	background-size: 75px 27px;
	background-position: center center;
	background-repeat: no-repeat;
	color: transparent;
	border: solid 2px #4aaaa5;
}

/*placeholders box with text*/
.projects {
	float: left;
	position: relative;
	width: 275px;
	height: 206px;
	/*width: 45%;*/  /*percent doesn't account for height ratio*/
	/*display: inline-block;*/ /***********/
	/*overflow: auto;*/ /************/
	}

.projects:hover {
	opacity: .5;
}

/*first placeholder*/
#project1 {
	margin: 10px 0 49px 0;
}
 
#project2 {
	margin: 10px 0 49px 37px;
}

#project3 {
	margin: 0 0 49px 0;
}

#project4 {
	margin: 0 0 49px 37px;
}

#project5 {
	margin: 0 0 25px 0;
}

/*all placeholders*/
.holders {
	width: 100%;  /*how does it know to fill the height; is there a default setting*/
}

/*placeholder text*/
.projects > span {
	position: absolute;
	bottom: 25px;
	left: 0;
	width: 100%;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	padding: 15px;
}

/*box holding all social links and hover text*/
#online {
	float: left;
	padding-top: 5px;
}

/*box containing icon and text*/
.iconbox {
	position: relative;
	width: 52px;
	height: 52px;
	float: left;
	margin: 0 5px;
	background-size: 52px 52px;
}

/*to make anchors to social links clickable*/
.image {
	display: block;
	width: 100%;
	height: 100%;
}

#github {
	background-image: url("../images/github.png");	
}

#linkedin {
	background-image: url("../images/linkedin.png");
}

#stackoverflow {
	background-image: url("../images/stackoverflow.png");	
}

#github:hover {
	background-image: url("../images/inversegithub.png");
	/*background-size: 52px 52px;*/
}

#linkedin:hover {
	background-image: url("../images/inverselinkedin.png");
	/*background-size: 52px 52px;*/
}

/*set a different size and position to match the other smaller, centered icons*/
#stackoverflow:hover {
	background-image: url("../images/inversestackoverflow.png");
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center center;
}

aside {
	float: left;
	width: 270px;
	background-color: #ffffff;
	border: solid 1px #dddddd;
	padding: 10px 30px 30px 40px;
}

h3 {
	font-size: 20px;
}

/*position absolute/bottom 0/width 100% is step 3 of 3 to make sticky footer*/
footer {
	clear: both;
	background-color: #666666;
	height: 85px;
	text-align: center;
	color: #ffffff;
	border-top: solid #4aaaa5 8px;
	padding: 30px;
	font-size: small;
	position: absolute; 
	bottom: 0;			
	width: 100%;
}


@media screen and (max-width: 980px) {

	header {
		width: 700px;
		margin: 0 auto;
	}

	h1 {
		color: blue;
		font: 30px;
		margin: 0;
	}

	h2 {
		font: 28px;
	}

	#middle {
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
	}

	article, form, #portfolio {
		width: 60%;
		float: left;
		margin-left: 0;

	}

	aside {
		width: 35%;
		float: right;
	}

	h3 {
		font: 17px;
		margin-left: 0;
		margin-right: 0;
	}

	.iconbox {
		/*width: 20%;*/
		/*height: 20%;*/
		/*background-size: 20% 20%;*/
		margin left: 0;
		margin-right: 0;
	}

}

@media screen and (max-width: 768px) {

	#middle {
		width: 100%;
		max-width: 960px;
	}

	header {
		width: 90%;
		margin: 0 auto;
	}

	h1 {
		color: orange;
		font: 28px;
		margin: 0;
	}

	h2 {
		font: 26px;
	}

	h3 {
		font: 18px;
	}

	#maria {
		width: 50%;
		height: 50%; /*difference between 50% or auto*/
		margin-bottom: 20px;
	}

	article, form, #portfolio {
		float: none;
		margin: 0 auto 25px auto;
		width: 90%;
	}

	.projects {
		width: 45%;
		/*height: auto;
		height: 70%;*/
		height: 100%;
		/*padding:0;*/
	}

	/*#project1, #project2, #project3, #project4, #project5 {
		width: 45%
		height: 45%;
	}*/

	.projects:nth-child (even) {
		margin: 0;
		padding: 0;
		float: left;
	}

	.projects:nth-child (odd) {
		float: right;
		margin: 0;
	}

	.projects > span {
		bottom: 10px;
	}

	aside {
		margin: 0 auto 25px auto;
		width: 90%;
		float: none;
		overflow: auto; /*why***************/
	}

	/*extends bottom border of h3*/
	h3 {
		width: 100%;
		font-size: 17px;
	}

}




@media screen and (max-width: 640px) {

	h1 {
		color: red;
		width: 100%;
		text-align: center;
		height: 50px;
		position: relative;/*******/
		display: block;/*******/
		float:left;/********/
		left:0;/********/
		margin: 0;/********/
		padding-top:10px;
		font-size: 26px;

	}
	
	header {/*had to be header not #top*/
		position: static;/*********/
		width: 100%;
		overflow: auto;/*******/
		height: auto;/********/
		margin: 0;/*******/
	}


	#pages {
		float: left;/***********/
		width: 100%;
		display:block;/********/
		text-align: center;/*******/
		padding-top:18px;
		margin:0;/*********/
		height:50px;
	}

	/*align spacing between page nav 1 of 3*/
	#pages > a {
		margin: 0 3%;
	}

	/*align spacing between nav 2 of 3*/
	#pages > a:not(:last-child) {
		padding-right: 8%;
	}

	/*align spacing between nav 3 of 3*/
	#pages > a:last-child {
		padding-right: 8px;
	}

	h2 {
		font-size: 24px;
	}

	#maria {
		width: 100%;
		height: 100%;
		margin-bottom: 20px;
	}

	article, form, #portfolio {
		float: none;
		margin: 0 auto 25px auto;
		width: 90%;
	}

	aside {
		margin: 0 auto 25px auto;
		width: 90%;
		float: none;
		overflow: auto;
	}

	/*extends bottom border of h3*/
	h3 {
		width: 100%;
		font-size: 17px;
	}

	.projects {
		width: 100%;
		height: 100%;
	}

	.projects > span {
		bottom: 10px;
	}
	
	/*doesn't work if under projects class*/   /*****************/
	#project2, #project4 {
		margin-left: auto;
		margin-right: auto;
	}

}


